# JWT_SECRET: Secret key for signing and verifying JSON Web Tokens.
JWT_SECRET="SUPER_SECRET_JWT_KEY_RemoteExamPortal_2026"

# APP_URL: The URL where this application is hosted.
APP_URL="http://localhost:3000"
